<section class="assessment" id="assessment">
  <div class="container">
    <div class="assessment__row">
      <div class="assessment__column">
        <div class="column-content">
          <h2 class="column-content__title title">
            Индивидуальная оценка персонала
          </h2>
          <ul class="column-content__list">
            <li class="column-content__item">
              Вам важно понимать, насколько кандидат на ответственную позицию
              соответствует требованиям по своим личностно-деловым качествам?
            </li>
            <li class="column-content__item">
              Вы хотите оценить потенциал перспективного сотрудника, понять,
              насколько он соответствует занимаемой должности?
            </li>
            <li class="column-content__item">
              Вы планируете повышение работника, но сомневаетесь, сможет ли он
              быть успешным на новой должности?
            </li>
          </ul>
        </div>

        <div class="column-content">
          <h2 class="column-content__title title">
            Что такое индивидуальная оценка?
          </h2>
          <p>
            Индивидуальная оценка персонала - это экспертная оценка
            личностно-деловых качеств сотрудника при помощи индивидуальных
            кейсов, диалоговых игр и/или интервью по компетенциям.
          </p>
        </div>

        <div class="column-content">
          <h2 class="column-content__title title">
            Преимущества метода индивидуальной оценки:
          </h2>
          <ul class="column-content__list">
            <li class="column-content__item">
              индивидуальное взаимодействие во время оценки сохраняет
              объективность благодаря четким вариантам поведения, заложенным в
              кейсы,
            </li>
            <li class="column-content__item">
              отчет по итогам оценки может содержать описание особенностей
              поведения оцениваемого в стрессовых и критических ситуациях, а
              также прогнозы по его эффективности на данном месте,
            </li>
            <li class="column-content__item">
              результаты и методы индивидуальной оценки персонала в полной мере
              отражают заявленные заказчиком, зачастую нетипичные, аспекты
              личности (например, в ситуациях, когда нужно локально выявить
              уровень лояльности/конфликтности/управленческой уверенности
              сотрудника),
            </li>
            <li class="column-content__item">
              возможность оперативно и точечно повысить недостающие навыки
              сотрудника на основе экспертного анализа его слабых сторон.
            </li>
          </ul>
        </div>
      </div>

      <div class="assessment__column">
        <div class="column-content">
          <img class="assessment__img" src="./assets/img/assess.png" alt="" />
          <h2 class="column-content__title title">
            Какие задачи может решать индивидуальная оценка персонала?
          </h2>
          <ul class="column-content__list">
            <li class="column-content__item">
              Отбор ключевых сотрудников на значимые позиции по заявленным
              критериям,
            </li>
            <li class="column-content__item">
              предотвращение кадровых ошибок при ответственных назначениях
              благодаря точному определению потенциала работника,
            </li>
            <li class="column-content__item">
              получение выраженных в количественных показателях данных о нужных
              Компании качествах конкретного сотрудника,
            </li>
            <li class="column-content__item">
              определение степени соответствия кандидата ценностям и
              стратегическим целям Компании.
            </li>
          </ul>
        </div>
        <div class="column-content">
          <h2 class="column-content__title title">
            Какие результаты вы получаете:
          </h2>
          <ul class="column-content__list">
            <li class="column-content__item">
              индивидуальный отчет с указанием оценок по компетенциям и
              качественных характеристик сотрудника,
            </li>
            <li class="column-content__item">
              готовый алгоритм индивидуальной оценки на основе компетенций,
            </li>
            <li class="column-content__item">
              возможность применять индивидуальную оценку для различных целей
              (отбор, оценка отдельных сотрудников по нестандартным критериям,
              оценка динамики развития конкретных навыков определенных
              сотрудников и т.д.).
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
