<section class="consulting" id="consulting">
  <div class="container">
    <div class="consulting__row">
      <div class="consulting__img">
        <img src="./assets/img/consulting.png" alt="" />
      </div>
      <div class="consulting__top-content">
        <h2 class="consulting__title title">Отраслевой консалтинг</h2>
        <ul class="consulting-menu">
          <li class="consulting-menu__item">
            Не можете выйти на плановые показатели?
          </li>
          <li class="consulting-menu__item">
            Тратите ресурсы не эффективно, ищете другие пути?
          </li>
          <li class="consulting-menu__item">
            Хочется получить помощь или готовые отраслевые решения от практика,
            с опытом решения аналогичных задач?
          </li>
          <li class="consulting-menu__item">
            Успешные примеры из другого бизнеса у вас не работают?
          </li>
        </ul>
      </div>
    </div>

    <div class="consulting__content">
      <h2 class="consulting__title title">Наши преимущества:</h2>
      <ul class="consulting-menu">
        <li class="consulting-menu__item">
          Возможность заняться именно той проблемой, которая беспокоит вас в
          бизнесе, детально оценить ее.
        </li>
        <li class="consulting-menu__item">
          Сформулировав задачу, поговорить о ней с профессионалами из вашей или
          сходных отраслей, получить примеры успешных работающих решений для
          вашего бизнеса. В некоторых случаях нашим клиентам бывает достаточно
          несколько часов поговорить о волнующих бизнес-вопросах с практиком из
          отрасли и получить исчерпывающие ответы, варианты, важные
          рекомендации, чтобы сдвинуть решение задачи, получить полезный толчок
          в важной для клиента сфере.
        </li>
        <li class="consulting-menu__item">
          Мы делаем ставку именно на практический опыт и успешные отраслевые
          решения, а не на общие схемы и подходы. Мы копим успешный опыт и базу
          полезных экспертов-практиков из разных отраслей, которые могут помочь
          в решении конкретных задач. Даже в самых узких сферах мы можем найти
          помощника или полезное решение.
        </li>
        <li class="consulting-menu__item">
          Мы работаем с лучшими экспертами в различных отраслях, которые
          специализируются на оценке эффективности бизнеса, продаж и системно
          решают конкретные задачи, а не проводят готовый тренинг.
        </li>
      </ul>
    </div>
  </div>

  <div class="key-directions">
    <div class="container">
      <div class="key-directions__content">
        <h2 class="key-directions__title title">Ключевые направления:</h2>
        <ul class="key-directions__list">
          <li class="key-directions__item">
            <img src="./assets/img/keys-01.png" alt="" />
            <strong>Продажи</strong>
          </li>
          <li class="key-directions__item">
            <img src="./assets/img/keys-02.png" alt="" />
            <strong>Строительство</strong>
          </li>
          <li class="key-directions__item">
            <img src="./assets/img/keys-03.png" alt="" />
            <strong>Управление персоналом</strong>
          </li>
          <li class="key-directions__item">
            <img src="./assets/img/keys-04.png" alt="" />
            <strong>Страхование</strong>
          </li>
          <li class="key-directions__item">
            <img src="./assets/img/keys-05.png" alt="" />
            <strong>Банки</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
