<section class="development" id="development">
  <div class="container">
    <div class="development__row">
      <div class="development__img">
        <img src="./assets/img/development-bg.png" alt="" />
      </div>
      <div class="development__content">
        <h2 class="development__title title">
          Разработка программ обучения "под ключ"
        </h2>
        <ul class="development__list">
          <li class="development__item">
            У вас в компании изменения и нужно подготовить к ним персонал?
          </li>
          <li class="development__item">
            У вас новая технология работы и требуется обучить ей работников?
          </li>
          <li class="development__item">
            Вы хотите повысить эффективность работы на конкретном
            бизнес-участке?
          </li>
          <li class="development__item">
            Вам нужна консультация по методам обучения от отраслевых практиков?
          </li>
        </ul>

        <h2 class="development__title title">
          Что включает в себя данная услуга?
        </h2>
        <ul class="development__list">
          <li class="development__item">
            Это предложение может быть особенно выгодно компаниям, которые
            испытывают нерегулярную потребность в спецкурсах или учебных
            программах под определенные задачи.
          </li>
          <li class="development__item">
            Если нет возможности разработать программы обучения самим и нельзя
            купить готовыми на рынке ввиду наличия определенной отраслевой или
            профессиональной специфики, то лучшее решение – это заказать
            разработку под собственные требования.
          </li>
          <li class="development__item">
            Заказывая такую услугу, вы приобретаете не только саму разработку
            курса или программы под свой запрос, но и передачу технологии
            обучения внутрь компании.
          </li>
        </ul>

        <h2 class="development__title title">Как это работает?</h2>
        <ul class="development__list">
          <li class="development__item">
            Мы предоставим вам методолога, эксперта в вашей отрасли, которым
            ведется разработка программ обучения персонала.
          </li>
          <li class="development__item">
            Руководитель практики профессионально снимет запрос и
            проконтролирует качество работы методолога.
          </li>
          <li class="development__item">
            Накопленный опыт и ресурсы всей нашей команды гарантируют
            актуальность и высокую эффективность используемых в разработке
            технологий.
          </li>
          <li class="development__item">
            Мы обеспечиваем качественную передачу методологии вашим сотрудникам
            и супервизорскую поддержку.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="development-cards">
    <div class="container">
      <h2 class="development-cards__title title">
        Отрасли, в которых мы можем вам помочь:
      </h2>
      <ul class="card-list">
        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev1.png" alt="" />
          <strong class="card-list__text text">Страхование</strong>
        </li>

        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev2.png" alt="" />
          <strong class="card-list__text text">Банки</strong>
        </li>

        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev3.png" alt="" />
          <strong class="card-list__text text">Недвижимость</strong>
        </li>

        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev4.png" alt="" />
          <strong class="card-list__text text"
            >Информационные технологии</strong
          >
        </li>

        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev5.png" alt="" />
          <strong class="card-list__text text">Ритейл</strong>
        </li>

        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev6.png" alt="" />
          <strong class="card-list__text text">Медицина</strong>
        </li>
        <li class="card-list__item">
          <img class="card-list__img" src="./assets/img/dev7.png" alt="" />
          <strong class="card-list__text text">автомобильный бизнес</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
