<header class="header">
  <div class="container">
    <div class="header__row">
      <a href="#recruitment" class="header__logo"
        ><img src="./assets/img/logo.png" alt=""
      /></a>
      <nav class="nav">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="#recruitment" class="menu-list__link">Подбор персонала</a>
          </li>
          <li class="menu-list__item">
            <a href="#assessment" class="menu-list__link">Оценка персонала</a>
          </li>
          <li class="menu-list__item">
            <a href="#consulting" class="menu-list__link">Развитие персонала</a>
          </li>
          <li class="menu-list__item">
            <a href="#motivation" class="menu-list__link"
              >Мотивация персонала</a
            >
          </li>
          <li class="menu-list__item">
            <a href="#development" class="menu-list__link"
              >Разработка программ</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="tg-fixed">
    <img class="tg-fixed__img" src="./assets/img/avatar.jpeg" alt="" />
    <a class="tg-fixed__link" href="tg://resolve?domain=ana_rsk">
      <img
        class="tg-fixed__img--qr"
        src="./assets/img/qr.png"
        alt="qrcode telegram"
      />
    </a>
    <h6 class="tg-fixed__title">@ANA_RSK</h6>
  </div>
</header>
