<section class="motivation" id="motivation">
  <div class="container">
    <div class="motivation__row">
      <h2 class="motivation__title title">
        Анализ действующих систем оплаты труда
      </h2>

      <img class="motivation__img" src="./assets/img/motivation.png" alt="" />
    </div>

    <div class="motivation__content">
      <h2 class="motivation__title title">Что это такое?</h2>
      <p class="motivation__text text">
        В рамках данной услуги наши эксперты проведут анализ систем оплаты труда
        ваших сотрудников на предмет:
      </p>
      <ul class="motivation-menu">
        <li class="motivation-menu__item">
          согласованности с целями подразделения и целями компании;
        </li>
        <li class="motivation-menu__item">
          целостности – учета всех ключевых факторов (показателей);
        </li>
        <li class="motivation-menu__item">
          сбалансированности – учета ключевых показателей деятельности с
          надлежащими формулой и весовыми коэффициентами;
        </li>
        <li class="motivation-menu__item">
          обеспечения удовлетворенности и вовлеченности сотрудников
        </li>
      </ul>
      <p class="motivation__text text">
        и сформируют укрупненные рекомендации по совершенствованию действующих
        систем оплаты труда.
      </p>
      <h2 class="motivation__title title">Когда это может быть полезно?</h2>
      <ul class="motivation-menu">
        <li class="motivation-menu__item">
          при изменениях целей и вектора развития компании системы оплаты труда
          не обновлялись;
        </li>
        <li class="motivation-menu__item">увеличилась текучесть персонала;</li>
        <li class="motivation-menu__item">
          текучесть среди наиболее продуктивных сотрудников превышает среднюю по
          компании;
        </li>
        <li class="motivation-menu__item">
          сотрудники высказывают недовольство действующими системами оплаты
          труда;
        </li>
        <li class="motivation-menu__item">
          имеет место «функциональный эгоизм», когда сотрудники узко
          фокусируются на своих задачах и не стремятся к продуктивному
          взаимодействию;
        </li>
        <li class="motivation-menu__item">
          затраты на ФОТ растут быстрее, чем оборот и прибыль компании.
        </li>
      </ul>
    </div>
  </div>
</section>
