<section class="recruitment" id="recruitment">
  <div class="container">
    <div class="recruitment__row">
      <div class="recruitment__img">
        <img src="./assets/img/recruitment.png" alt="" />
      </div>
      <div class="recruitment__content">
        <h2 class="recruitment__title title">Услуги по подбору персонала</h2>
        <p class="recruitment__text">
          Мы предлагаем качественные услуги по подбору персонала клиентам в
          Москве и регионах — оперативно и по приемлемой цене:
        </p>
        <ul class="recruitment-menu">
          <li class="recruitment-menu__item">
            рекомендательные технологии поиска,
          </li>
          <li class="recruitment-menu__item">два уровня отбора кандидатов,</li>
          <li class="recruitment-menu__item">
            отобранные кандидаты у клиента за 5 дней,
          </li>
          <li class="recruitment-menu__item">
            широкая региональная сеть (более 280 городов РФ) и лучшие
            возможности для поиска,
          </li>
          <li class="recruitment-menu__item">девять основных специализаций,</li>
          <li class="recruitment-menu__item">
            онлайн-система контроля качества отбора,
          </li>
          <li class="recruitment-menu__item">расширенные гарантии замены,</li>
        </ul>
      </div>
    </div>
  </div>
</section>
